.dialogs {
display: grid;
grid-template-columns: 2fr 10fr;
}

.dialogsItems {
padding: 20px;
text-decoration: none;

}

.dialogsItems .active {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight:bold;
}

.messages {
    padding: 20px;
}

.textarea {
    margin-top: 10px;
  }
